<div
  class="modal fade"
  id="computerModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="computerTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title" id="computerLongTitle">{{ modalTitle }}</h5>
        <button
          type="button"
          #btnCloseModal
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="computerForms" (ngSubmit)="onSubmit()">
        <!-- <form [formGroup]="computerForms"> -->
        <div class="modal-body">
          <div class="container-fluid">
            <div class="form-group">
              <label for="computer_id" class="col-form-label">Mã máy: </label>
              <small
                id="error-computer_id"
                class="text-danger"
                *ngIf="
                  (field.computerId.dirty || field.computerId.touched) &&
                  field.computerId.invalid
                "
              >
                <span *ngIf="field.computerId.errors.required">
                  Không được trống.</span
                >
                <span *ngIf="field.computerId.errors.pattern">
                  Chỉ nhập số.</span
                >
              </small>
              <input
                type="text"
                class="form-control"
                id="computer_id"
                formControlName="computerId"
                #idComputer
              />
            </div>
            <div class="form-group">
              <label for="computer_location" class="col-form-label"
                >Vị trí:</label
              >
              <small
                id="error-computer_id"
                class="text-danger"
                *ngIf="
                  (field.computerLocation.dirty ||
                    field.computerLocation.touched) &&
                  field.computerLocation.invalid
                "
              >
                <span *ngIf="field.computerLocation.errors.required">
                  Không được trống.</span
                >
              </small>
              <input
                type="text"
                class="form-control"
                id="computer_location"
                formControlName="computerLocation"
                #locationComputer
              />
            </div>
            <div class="form-group">
              <label for="computer_status" class="col-form-label"
                >Trạng thái:</label
              >
              <small
                id="error-computer_id"
                class="text-danger"
                *ngIf="
                  (field.computerStatus.dirty ||
                    field.computerStatus.touched) &&
                  field.computerStatus.invalid
                "
              >
                <span *ngIf="field.computerStatus.errors.required">
                  Không được trống.</span
                >
              </small>
              <select
                class="form-control"
                id="computer_status"
                formControlName="computerStatus"
                #statusComputer
              >
                <option
                  *ngFor="let status of computerStatus"
                  [ngValue]="status.val"
                >
                  {{ status.name }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="modal-footer bg-light">
          <!-- <button type="reset" class="btn btn-secondary" (click)="onReset()">Reset</button> -->
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!computerForms.valid"
          >
            Save
          </button>
          <!-- <button type="submit" class="btn btn-primary"
            (click)="submit(idComputer.value, locationzcomputer.value, statusComputer.value)">Save</button>-->
        </div>
      </form>
    </div>
  </div>
</div>
